body {
  color: #73879C;
  background: #2A3F54;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.471;
}
.dataTables_wrapper .dt-buttons {
  margin-left: 20px;
}
.dataTables_wrapper .dt-buttons .dt-button {
  color: #00ced1;
  border-color: #46b8da;
  border-radius: 6px;
}
table.dataTable tr.dtrg-group td {
  background-color: #A19B9E;
  text-align: left;
}
table.dataTable tr.dtrg-group.dtrg-level-0 td {
  font-weight: bold;
}
table.dataTable tr.dtrg-group.dtrg-level-1 td,
table.dataTable tr.dtrg-group.dtrg-level-2 td,
table.dataTable tr.dtrg-group.dtrg-level-3 td,
table.dataTable tr.dtrg-group.dtrg-level-4 td,
table.dataTable tr.dtrg-group.dtrg-level-5 td {
  background-color: #aaa;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 2em;
  font-size: 0.9em;
}
table.dataTable tr.dtrg-group.dtrg-level-2 td {
  background-color: #f3f3f3;
  padding-left: 2.5em;
}
table.dataTable tr.dtrg-group.dtrg-level-3 td {
  background-color: #f3f3f3;
  padding-left: 3em;
}
table.dataTable tr.dtrg-group.dtrg-level-4 td {
  background-color: #f3f3f3;
  padding-left: 3.5em;
}
table.dataTable tr.dtrg-group.dtrg-level-5 td {
  background-color: #f3f3f3;
  padding-left: 4em;
}
table.dataTable.table-striped tr.dtrg-level-0 {
  background-color: #e0e0e0;
}
table.dataTable.table-striped tr.dtrg-level-1 {
  background-color: #f0f0f0;
}
table.dataTable.table-striped tr.dtrg-level-2,
table.dataTable.table-striped tr.dtrg-level-3,
table.dataTable.table-striped tr.dtrg-level-4,
table.dataTable.table-striped tr.dtrg-level-5 {
  background-color: #f3f3f3;
}
table.dataTable.table-striped tr.dtrg-level-1 tr.dtrg-level-2 td,
table.dataTable.table-striped tr.dtrg-level-3 td,
table.dataTable.table-striped tr.dtrg-level-4 td,
table.dataTable.table-striped tr.dtrg-level-5 td {
  background-color: transparent;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  border-radius: 6px;
  padding: 8px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 12px;
  border: none;
}
div.header {
  margin-bottom: 10px;
}
.container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.container.main {
  min-height: 630px;
}
.container.shadow {
  box-shadow: 4px 12px 47px 0 rgba(255, 255, 255, 0.1);
  border: 0;
  background-color: white;
  margin-bottom: 10px;
}
table.display thead th {
  padding: 8px 18px 8px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}
table.display tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}
.input-group-text {
  height: 100%;
}
.footer {
  position: fixed;
  background-color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}
.top_tiles {
  margin-bottom: 0;
}
.tile-stats {
  position: relative;
  display: block;
  margin-bottom: 12px;
  border: 1px solid #E4E4E4;
  -webkit-border-radius: 5px;
  overflow: hidden;
  padding-bottom: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  background: #FFF;
  transition: all 300ms ease-in-out;
}
.tile-stats:hover .icon i {
  animation-name: transformAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  color: rgba(58, 58, 58, 0.41);
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: transformAnimation;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: transformAnimation;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
.tile-stats .title-white {
  margin-bottom: auto !important;
  min-height: 60px;
}
.tile-stats .icon {
  width: 20px;
  height: 20px;
  color: #BAB8B8;
  position: absolute;
  right: 53px;
  top: 14px;
  z-index: 1;
}
.tile-stats .icon-white {
  color: #fff;
}
.tile-stats .icon i {
  margin: 0;
  font-size: 40px;
  line-height: 0;
  vertical-align: bottom;
  padding: 0;
}
.tile-stats .count {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.65857;
}
.tile_count .tile_stats_count .count {
  font-size: 30px;
  line-height: 47px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .tile_count .tile_stats_count .count {
    font-size: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .tile_count .tile_stats_count .count {
    font-size: 30px;
  }
}
.count-complement {
  position: relative;
  z-index: 5;
  font-size: 12px;
}
.tile-stats .count,
.tile-stats p {
  position: relative;
  margin: 0;
  margin-left: 10px;
  z-index: 5;
  padding: 0;
}
.tile-stats p {
  margin-top: 5px;
  font-size: 12px;
}
.morris-hover {
  position: absolute;
  z-index: 1000;
}
.morris-hover.morris-default-style {
  padding: 6px;
  color: #666;
  background: rgba(243, 242, 243, 0.8);
  border: solid 2px rgba(195, 194, 196, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
}
.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}
.alert-success {
  color: #ffffff;
  background-color: rgba(38, 185, 154, 0.88);
  border-color: rgba(38, 185, 154, 0.88);
}
.alert-info {
  color: #E9EDEF;
  background-color: rgba(52, 152, 219, 0.88);
  border-color: rgba(52, 152, 219, 0.88);
}
.alert-warning {
  color: #E9EDEF;
  background-color: rgba(243, 156, 18, 0.88);
  border-color: rgba(243, 156, 18, 0.88);
}
.alert-danger,
.alert-error {
  color: #E9EDEF;
  background-color: rgba(231, 76, 60, 0.88);
  border-color: rgba(231, 76, 60, 0.88);
}
.daterangepicker.xdisplay {
  width: 228px;
}
.dataTables_paginate a {
  padding: 4px 9px !important;
  background: #ddd !important;
  border-color: #ddd !important;
}
.paging_full_numbers a.paginate_active {
  background-color: rgba(38, 185, 154, 0.59) !important;
  border-color: rgba(38, 185, 154, 0.59) !important;
}
.dataTables_paginate a {
  background: #ff0000;
}
.dataTables_wrapper {
  position: relative;
  clear: both;
  zoom: 1;
}
.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 14px 0 2px 0;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
}
.dataTables_length {
  float: left;
}
.dataTables_filter {
  /*width: 50%;*/
  float: right;
  text-align: right;
}
.dataTables_info {
  float: left;
}
.dataTables_paginate {
  float: right;
  text-align: right;
}
table.dataTable th.focus,
table.dataTable td.focus {
  outline: 2px solid #1ABB9C !important;
  outline-offset: -1px;
}
table.display {
  margin: 0 auto;
  clear: both;
  width: 100%;
}
table.display thead th {
  padding: 8px 18px 8px 10px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}
table.display tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}
table.display tr.heading2 td {
  border-bottom: 1px solid #aaa;
}
table.display td {
  padding: 3px 10px;
}
table.display td.center {
  text-align: center;
}
.dataTables_scroll {
  clear: both;
}
.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.top .dataTables_info {
  float: none;
}
.clear {
  clear: both;
}
.dataTables_empty {
  text-align: center;
}
tfoot input {
  margin: 0.5em 0;
  width: 100%;
  color: #444;
}
tfoot input.search_init {
  color: #999;
}
td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #A19B9E;
  border-top: 2px solid #A19B9E;
}
td.details {
  background-color: #d1cfd0;
  border: 2px solid #A19B9E;
}
.example_alt_pagination div.dataTables_info {
  width: 40%;
}
.paging_full_numbers {
  width: 60%;
  height: 36px;
  line-height: 22px;
}
.paging_full_numbers a:active {
  outline: none;
}
.paging_full_numbers a:hover {
  text-decoration: none;
}
.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
}
.paging_full_numbers a.paginate_button {
  background-color: #ddd;
}
.paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none !important;
}
.paging_full_numbers a.paginate_active {
  background-color: #99B3FF;
}
table.display tr.even.row_selected td {
  background-color: #B0BED9;
}
table.display tr.odd.row_selected td {
  background-color: #9FAFD1;
}
@media (max-width: 460px) {
  .dataTables_wrapper .col-sm-6 {
    width: 100%;
    margin-bottom: 5px;
  }
  .dataTables_wrapper .col-sm-6 .dataTables_filter {
    float: none;
  }
}
@media (max-width: 767px) {
  .dataTables_length {
    float: none;
  }
}
.dataTables_wrapper > .row {
  overflow: auto !important;
  /*prevent datatables overflowing its container*/
}
.dropdown-menu.msg_list span {
  white-space: normal;
}
.dropdown-menu {
  border: medium none;
  box-shadow: none;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 9998;
  border: 1px solid #D9DEE4;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}